<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-lazy-init="true">

    <description>Shiro安全配置</description>

    <!--安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--设置自定义Realm-->
        <property name="realm" ref="shiroDbRealm"/>
        <!--将缓存管理器，交给安全管理器-->
        <property name="cacheManager" ref="shiroEhcacheManager"/>

        <!-- sessionManager for shiro session share with redis 
        <property name="sessionManager" ref="sessionManager" />
        -->   
    </bean>

    <!-- 項目自定义的Realm -->
    <bean id="shiroDbRealm" class="com.mids.shiro.ShiroDbRealm"/>

    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">        
        <!-- 安全管理器 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 默认的登陆访问url -->
        <property name="loginUrl" value="/sys/login.do"/>
        <!-- 登陆成功后跳转的url -->
        <property name="successUrl" value="/sys/index.do"/>
        <!-- 没有权限跳转的url -->
        <property name="unauthorizedUrl" value="/sys/unauth"/>
        <property name="filterChainDefinitions">
            <value>
                /commons/** = anon <!-- 不需要认证 -->
                /static/** = anon
                /sys/login.do = anon
                /sys/captcha.do = anon
                /test/** = anon
                /app/** = anon
				/mcht/** = anon
                /crm/** = authc
                /sys/crm/** = authc
                /** = authc <!-- 需要认证 authc -->
            </value>
        </property>
    </bean>

    <!-- 用户授权信息Cache, 采用EhCache -->
    <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:sysconf/ehcache-shiro.xml"/>
    </bean>

    <!-- 在方法中 注入  securityManager ，进行代理控制 -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>

	<!-- AOP式方法级权限检查  -->
    <bean id="shiroeAdvisorAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
	
    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
    <!-- 启用shrio授权注解拦截方式 -->
    <bean id="shiroAuthorizationAttributeSourceAdvisor" class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
	
    <!-- for shiro session share with redis begin 
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="redisSessionDAO" />
    </bean>
    <bean id="redisManager" class="com.mids.shiro.session.RedisManager">
        <property name="host" value="${redis.ip}"/>
        <property name="port" value="${redis.port}"/>        
        <property name="timeout" value="${redis.timeout}"/>
        <property name="password" value="${redis.passwd}"/>
        <property name="expire" value="1800"/>
    </bean>
    <bean id="redisSessionDAO" class="com.mids.shiro.session.RedisSessionDAO">
        <property name="redisManager" ref="redisManager" />
    </bean>
    <bean id="cacheManager" class="com.mids.shiro.session.RedisCacheManager">
        <property name="redisManager" ref="redisManager" />
    </bean>


    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="rememberMe"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="2592000"/>
    </bean>
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="rememberMeCookie"/>
        <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('XgGkgqGqYrix9lI6vxcrRw==')}"/>
    </bean>
     for shiro session share with redis endxx -->
</beans>