<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mids.mybatis.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.mids.mybatis.model.Role">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="seq" property="seq" jdbcType="TINYINT"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="statusx" property="statusx" jdbcType="TINYINT"/>
        <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
		id, name, seq, description, statusx, insert_time, update_time
	</sql>

    <select id="findList" resultMap="BaseResultMap" parameterType="com.mids.mybatis.model.Role">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_role        
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_role order by seq
    </select>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_role
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findResourceIdListByRoleId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		SELECT
			e.resource_id AS id
		FROM
			tb_sys_role r
		LEFT JOIN tb_sys_role_resource e ON r.id = e.role_id
		WHERE
			r.id = #{id,jdbcType=INTEGER}
	</select>

    <select id="findResourceIdListByRoleIdAndType" resultType="com.mids.mybatis.model.Resource" parameterType="java.lang.Integer">
		SELECT
			s.id AS id,
			s.name AS name,
			s.url AS url,
			s.description AS description,
			s.icon AS icon,
			s.pid AS pid,
			s.seq AS seq,
			s.statusx AS statusx,
			s.resource_type AS resourceType,
			s.insert_time AS insertTime,
            s.update_time AS updateTime
		FROM
			tb_sys_role r
		LEFT JOIN tb_sys_role_resource e ON r.id = e.role_id
		LEFT JOIN tb_sys_resource s ON e.resource_id = s.id
		WHERE
			r.id = #{id,jdbcType=INTEGER}
		AND s.resource_type = 0
	</select>

    <select id="findRoleResourceIdListByRoleId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    SELECT
        e.id AS id
    FROM
        tb_sys_role r
    LEFT JOIN tb_sys_role_resource e ON r.id = e.role_id
    WHERE
        r.id = #{id,jdbcType=INTEGER}
  </select>

    <select id="findRoleResourceListByRoleId" resultType="java.util.HashMap" parameterType="java.lang.Integer">
    SELECT
        e.id AS id,
        s.url AS url
    FROM
        tb_sys_role r
    LEFT JOIN tb_sys_role_resource e ON r.id = e.role_id
    LEFT JOIN tb_sys_resource s ON e.resource_id = s.id
    WHERE
        r.id = #{id,jdbcType=INTEGER}
  </select>


    <insert id="insert" parameterType="com.mids.mybatis.model.Role" useGeneratedKeys="true" keyProperty="id">
        insert into tb_sys_role (name, seq, description, statusx, insert_time, update_time)
        values (#{name,jdbcType=VARCHAR}, #{seq,jdbcType=TINYINT}, #{description,jdbcType=VARCHAR},
        #{statusx,jdbcType=TINYINT}, #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP} )
    </insert>

    <update id="update" parameterType="com.mids.mybatis.model.Role">
        update tb_sys_role
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="seq != null">
                seq = #{seq,jdbcType=TINYINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="statusx != null">
                statusx = #{statusx,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from tb_sys_role
        where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>